<app-nav-menu></app-nav-menu>

<ion-content [fullscreen]="true" class="ion-padding content">

  <ion-card color="light">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>Who said chess is boring?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            It exercises the mind, has endless possibilities,
            can be played at any skill level, has a rich history and cultural significance,
            and can be enjoyed in many different ways.
            It is a complex and exciting game that offers endless challenges and entertainment.
          </ion-card-content>
          <ion-button routerLink="/about" color="danger" fill="clear">Learn more</ion-button>
          <ion-button>Find game</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>

